@using Newtonsoft.Json.Linq
@model JToken

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upload the file</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="file">
            <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <input type="submit" name="submit" value="Upload" />
    }
</div>
<div class="card-columns">
@foreach (var _ in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_["Name"]</h5>
            <h6 class="card-subtitle mb-2 text-muted">Length @_["Length"] Bytes</h6>
            <p class="card-text">Processing time: @_["ProcessingTime"] seconds</p>
            <p class="card-text">Status: @_["ProcessingStatus"]</p>
            <p class="card-text">Creation time @_["CreationTime"]</p>
            <p class="card-text">Last write time @_["LastWriteTime"]</p>
            <p class="card-text">@_["FullName"]</p>
            <a href="@Url.Content("~/Home/Download?id=" + _["Name"])" target="_blank" class="card-link">Download link</a>
        </div>
    </div>
}
</div>